.userprofile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 8fr;
}

.profile {
    display: grid;
    grid-template-rows: 3fr 50px 50px 50px;
}

.img>img {
    width: 290px;
    height: 290px;
    border-radius: 200px;
}

.img {
    justify-self: center;
}

.repos {
    border-radius: 31px;
    background: #e0e0e0;
    box-shadow: 5px 5px 2px #5a5a5a, -5px -5px 2px #ffffff;
    margin: 15px;
    width: 500px;
}

.name {
    
    padding: 0 30px;
    margin: 0;
    justify-self: center;
}

.login {
    padding: 0 30px;
    margin: 0;
    width: 20px;
    justify-self: center;
    text-decoration: none;
}
.login > a{
    color: blue;
    text-decoration: none;
}

.followers {
    padding: 0 30px;
    margin: 0;
    height: 150px;
    width: 250px;
    justify-self: center;
}

.description {
    padding: 15px 30px;
    margin: 0;
}

p {
    font-size: 18px;
}

.paginator {
    grid-column: 2/3;
    padding: 0;
    width: 500px;
    height: 20px;
    display: grid;
    grid-template-columns: repeat(12, 50px);
    list-style-type: none;
    cursor: pointer;
    justify-self: center;
}

.not_found {
    text-align: center;
}

@media screen and (max-width: 930px) {
    .userprofile {
        grid-template-columns: 500px;
        grid-template-rows: 1fr 1fr 100px;
        justify-content: center;
        justify-items: center;
    }
    .profile {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .repos {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 380px;
    }
    .paginator {
        grid-column: 3/4;
        grid-column: 1/2;
    }
}

@media screen and (max-width: 550px) {
    .userprofile {
        grid-template-rows: 400px 1fr 100px;
    }
    .repos {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 280px;
    }
    .paginator {
        height: 10px;
        width: 300px;
        grid-template-columns: repeat(12, 27px);
    }
    .img>img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }
}